
@{
    ViewBag.Title = "Policy";
    <link href="~/Content/MendeStyle.css" rel="stylesheet" type="text/css" />
}

<div class="policy">
    <img src="~/images/silde_2.png" style="width:100%; height:auto" />
    <div class="container-fluid" style="background-color: #f7f5f5; height:50px;width:100%"></div>
    <div class="container" style="width:1300px">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3"></div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <h1 style="font-weight:700; font-size:24px">CHÍNH SÁCH ĐỔI TRẢ</h1>
                <b>1. Điều kiện đổi trả</b>
                <p style="margin-top:15px">Quý Khách hàng cần kiểm tra tình trạng hàng hóa và có thể đổi hàng/ trả lại hàng ngay tại thời điểm giao/ nhận hàng trong những trường hợp sau:</p>
                <ul>
                    <li>Hàng không đúng chủng loại, mẫu mã trong đơn hàng đã đặt hoặc như trên website tại thời điểm đặt hàng.</li>
                    <li>Không đủ số lượng, không đủ bộ như trong đơn hàng.</li>
                    <li>Tình trạng bên ngoài bị ảnh hưởng như rách bao bì, bong tróc, may lỗi…</li>
                </ul>
                <p style="margin-bottom:30px">Khách hàng có trách nhiệm trình hóa đơn, hình ảnh liên quan chứng minh sự thiếu sót trên để hoàn thành việc hoàn trả/đổi trả hàng hóa. </p>
                <b style="margin-bottom:10px">2. Quy định về thời gian thông báo và gửi sản phẩm đổi trả</b>
                <ul style="margin:15px 0">
                    <li>
                        <b>Thời gian thông báo đổi trả</b>: trong vòng 72h kể từ khi nhận sản phẩm (không áp dụng sản phẩm sale)
                    </li>
                    <li><b>Địa điểm đổi trả sản phẩm</b>: Khách hàng có thể mang hàng trực tiếp đến cửa hàng của chúng tôi hoặc chuyển qua đường bưu điện.</li>
                </ul>
                <p style="margin-bottom:30px">Trong trường hợp Quý Khách hàng có ý kiến đóng góp/khiếu nại liên quan đến chất lượng sản phẩm, Quý Khách hàng vui lòng liên hệ đường dây chăm sóc khách hàng của chúng tôi: 0785988252</p>
            </div>
        </div>
    </div>
</div>

