
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
    <link href="~/Content/dmnut.css" rel="stylesheet" />

}
<div style="margin: 10px auto; width: 98%;">
    <h2 style="margin-left: 500px">ADMIN</h2>
    <img src="~/images/wel.gif" style="width:50%; height:auto; margin: 0 auto; display: block"/>
    
</div>




