
@{
    ViewBag.Title = "About";
    <link href="~/Content/MendeStyle.css" rel="stylesheet" type="text/css" />
}
<div class="about">
    <img src="~/images/silde_2.png" style="width:100%; height:auto" />
    <div class="container-fluid" style="background-color: #f7f5f5; height:50px;width:100%"></div>
    <div class="container" style="width:1300px">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3"></div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <h1 style="font-weight:700; font-size:24px">GIỚI THIỆU</h1>
                <h1 style="font-weight:700; font-size:24px; margin-left:300px">LỜI MỞ ĐẦU</h1>
                <p>Ra đời năm 2016 . MENDE mang hoài bão và mục tiêu trở thành giải pháp trang phục hiệu quả để biểu hiện tối đa cá tính mỗi người. Thời gian đầu startup đã gặp không ít khó khăn do định hướng sản phẩm và thông điệp truyền tải đến khách hàng còn chưa cụ thể.</p>
                <p>Thời gian đó, phải liên tục thay đổi khái niệm. và nhiều lần muốn từ bỏ .Nhưng hoài bão tuổi trẻ vẫn luôn thôi thúc từng ngày .</p>
                <p>Đến nay MENDE đã có định hướng và đang khẳng định vị thế ổn định trong phân khúc thời trang giới trẻ.</p>
                <p>Đi đầu trong xu hướng sơ mi tay ngắn với các họa tiết bắt mắt và gu thẩm mỹ cao . Các sản phẩm và thông điệp luôn được giới trẻ chào đón và chấp nhận.</p>
                <p>Ưu điểm vượt trội về chất lượng sản phẩm cũng như văn hóa bán hàng đậm chất MENDE là nền tảng để team MENDE thực hiện tham vọng mở rộng và chiếm lĩnh thị trường .</p>
                <p>Phong cách hiện đại, thời thượng, cá tính và nổi bật.</p>
                <p>Là những từ khóa tiêu biểu khi nhắc đến văn hóa :</p>
                <b style="float:right; margin-bottom:50px">“ MENDE ”</b>
            </div>
        </div>
    </div>
</div>
